body {
    background-color: #9ABC98
}

.github-button {
    transition: background-color .2s;
    padding: .6em 1em;
    background: #A1C49F; /*background-color: #46b980;*/
    border: 0; /* prev: 2px */
    font-size: .8125em;
    font-weight: 300;
    line-height: normal;
    white-space: nowrap;

    margin:0 0 1em;
    margin:0 1em 0 0;
    color: #000000;
    position:absolute;
    top:0px;
    right: 10px;
    text-decoration: none;
}

.github-button:active,
.github-button:focus,
.github-button:hover {
    /*color: #389466;*/
    background: #B995AA;
}